@page "/privacypolicy"

<!DOCTYPE html>
<html lang="en">

<head>
<title>KnowMyNetwork - Car Pool like never before</title>
       <style type="text/css">
        ol.lst-kix_cqsc1wbaqf6y-0.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-0 0
        }

        ol.lst-kix_61rorfbafx55-4.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-4 0
        }

        ol.lst-kix_kzlc3pribppf-7.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-7 0
        }

        .lst-kix_maa7btjwabk9-5>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-5
        }

        .lst-kix_1atlwd1tz5yj-8>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-8, lower-roman) ". "
        }

        .lst-kix_1atlwd1tz5yj-5>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-5, lower-roman) ". "
        }

        .lst-kix_1atlwd1tz5yj-6>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-6, decimal) ". "
        }

        .lst-kix_huhn71fp1jj9-4>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-4
        }

        .lst-kix_1atlwd1tz5yj-3>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-3, decimal) ". "
        }

        .lst-kix_1atlwd1tz5yj-7>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-7, lower-latin) ". "
        }

        ol.lst-kix_almsv56rapdu-4.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-4 0
        }

        .lst-kix_1atlwd1tz5yj-4>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-4, lower-latin) ". "
        }

        .lst-kix_61rorfbafx55-6>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-6
        }

        ol.lst-kix_iz06hbw56add-8.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-8 0
        }

        .lst-kix_1atlwd1tz5yj-1>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-1, lower-latin) ". "
        }

        .lst-kix_1atlwd1tz5yj-2>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-2, lower-roman) ". "
        }

        .lst-kix_1atlwd1tz5yj-0>li:before {
            content: "" counter(lst-ctn-kix_1atlwd1tz5yj-0, decimal) ". "
        }

        ol.lst-kix_huhn71fp1jj9-3.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-3 0
        }

        .lst-kix_sbfljmibfmz5-3>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-3
        }

        ol.lst-kix_1atlwd1tz5yj-7.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-7 0
        }

        ol.lst-kix_xi9i8jispxx5-4.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-4 0
        }

        ol.lst-kix_sbfljmibfmz5-2.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-2 0
        }

        ol.lst-kix_iz06hbw56add-7 {
            list-style-type: none
        }

        ol.lst-kix_iz06hbw56add-8 {
            list-style-type: none
        }

        ol.lst-kix_iz06hbw56add-5 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-3.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-3 0
        }

        ol.lst-kix_iz06hbw56add-6 {
            list-style-type: none
        }

        ol.lst-kix_iz06hbw56add-3 {
            list-style-type: none
        }

        ol.lst-kix_iz06hbw56add-4 {
            list-style-type: none
        }

        .lst-kix_almsv56rapdu-3>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-3
        }

        ol.lst-kix_cqsc1wbaqf6y-5.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-5 0
        }

        ol.lst-kix_iz06hbw56add-1 {
            list-style-type: none
        }

        .lst-kix_huhn71fp1jj9-1>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-1, lower-latin) ". "
        }

        ol.lst-kix_iz06hbw56add-2 {
            list-style-type: none
        }

        .lst-kix_huhn71fp1jj9-2>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-2, lower-roman) ". "
        }

        ol.lst-kix_iz06hbw56add-0 {
            list-style-type: none
        }

        .lst-kix_xi9i8jispxx5-1>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-1
        }

        .lst-kix_huhn71fp1jj9-0>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-0, decimal) ". "
        }

        ol.lst-kix_maa7btjwabk9-1.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-1 0
        }

        ol.lst-kix_maa7btjwabk9-8.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-8 0
        }

        .lst-kix_cqsc1wbaqf6y-5>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-5
        }

        ol.lst-kix_huhn71fp1jj9-8.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-8 0
        }

        .lst-kix_iz06hbw56add-8>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-8
        }

        ol.lst-kix_a74y8f2cygkr-3.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-3 0
        }

        ol.lst-kix_maa7btjwabk9-2 {
            list-style-type: none
        }

        .lst-kix_huhn71fp1jj9-4>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-4, lower-latin) ". "
        }

        ol.lst-kix_maa7btjwabk9-1 {
            list-style-type: none
        }

        ol.lst-kix_maa7btjwabk9-0 {
            list-style-type: none
        }

        .lst-kix_huhn71fp1jj9-3>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-3, decimal) ". "
        }

        .lst-kix_huhn71fp1jj9-5>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-5, lower-roman) ". "
        }

        ol.lst-kix_maa7btjwabk9-6 {
            list-style-type: none
        }

        ol.lst-kix_maa7btjwabk9-5 {
            list-style-type: none
        }

        ol.lst-kix_maa7btjwabk9-4 {
            list-style-type: none
        }

        ol.lst-kix_maa7btjwabk9-3 {
            list-style-type: none
        }

        .lst-kix_huhn71fp1jj9-8>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-8, lower-roman) ". "
        }

        .lst-kix_sbfljmibfmz5-7>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-7
        }

        ol.lst-kix_maa7btjwabk9-8 {
            list-style-type: none
        }

        .lst-kix_huhn71fp1jj9-7>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-7, lower-latin) ". "
        }

        ol.lst-kix_maa7btjwabk9-7 {
            list-style-type: none
        }

        .lst-kix_1atlwd1tz5yj-1>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-1
        }

        .lst-kix_huhn71fp1jj9-6>li:before {
            content: "" counter(lst-ctn-kix_huhn71fp1jj9-6, decimal) ". "
        }

        ul.lst-kix_aq9u7515bjx2-2 {
            list-style-type: none
        }

        .lst-kix_5efr46mqkgrk-0>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-0, decimal) ". "
        }

        ul.lst-kix_aq9u7515bjx2-1 {
            list-style-type: none
        }

        ul.lst-kix_aq9u7515bjx2-4 {
            list-style-type: none
        }

        ul.lst-kix_aq9u7515bjx2-3 {
            list-style-type: none
        }

        .lst-kix_61rorfbafx55-2>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-2
        }

        ul.lst-kix_aq9u7515bjx2-6 {
            list-style-type: none
        }

        .lst-kix_5efr46mqkgrk-2>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-2, lower-roman) ". "
        }

        ul.lst-kix_aq9u7515bjx2-5 {
            list-style-type: none
        }

        ul.lst-kix_aq9u7515bjx2-8 {
            list-style-type: none
        }

        ul.lst-kix_aq9u7515bjx2-7 {
            list-style-type: none
        }

        ol.lst-kix_xi9i8jispxx5-2.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-2 0
        }

        ol.lst-kix_xi9i8jispxx5-6 {
            list-style-type: none
        }

        ol.lst-kix_xi9i8jispxx5-5 {
            list-style-type: none
        }

        ol.lst-kix_1atlwd1tz5yj-0.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-0 0
        }

        ol.lst-kix_xi9i8jispxx5-8 {
            list-style-type: none
        }

        ol.lst-kix_xi9i8jispxx5-7 {
            list-style-type: none
        }

        .lst-kix_5efr46mqkgrk-8>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-8, lower-roman) ". "
        }

        ol.lst-kix_iz06hbw56add-1.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-1 0
        }

        .lst-kix_5efr46mqkgrk-6>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-6, decimal) ". "
        }

        .lst-kix_5efr46mqkgrk-4>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-4, lower-latin) ". "
        }

        ol.lst-kix_cqsc1wbaqf6y-7.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-7 0
        }

        ul.lst-kix_aq9u7515bjx2-0 {
            list-style-type: none
        }

        .lst-kix_maa7btjwabk9-1>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-1
        }

        .lst-kix_almsv56rapdu-3>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-3, decimal) ". "
        }

        .lst-kix_a74y8f2cygkr-5>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-5
        }

        .lst-kix_61rorfbafx55-3>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-3
        }

        .lst-kix_almsv56rapdu-1>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-1, lower-latin) ". "
        }

        .lst-kix_huhn71fp1jj9-8>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-8
        }

        .lst-kix_1atlwd1tz5yj-8>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-8
        }

        .lst-kix_iz06hbw56add-4>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-4, lower-latin) ". "
        }

        .lst-kix_iz06hbw56add-8>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-8, lower-roman) ". "
        }

        .lst-kix_maa7btjwabk9-2>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-2
        }

        ol.lst-kix_5efr46mqkgrk-0.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-0 0
        }

        .lst-kix_maa7btjwabk9-8>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-8
        }

        ol.lst-kix_almsv56rapdu-6.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-6 0
        }

        .lst-kix_iz06hbw56add-2>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-2, lower-roman) ". "
        }

        .lst-kix_a74y8f2cygkr-6>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-6
        }

        .lst-kix_iz06hbw56add-4>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-4
        }

        .lst-kix_cqsc1wbaqf6y-1>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-1
        }

        ol.lst-kix_almsv56rapdu-7.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-7 0
        }

        .lst-kix_kzlc3pribppf-6>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-6
        }

        .lst-kix_iz06hbw56add-6>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-6, decimal) ". "
        }

        .lst-kix_almsv56rapdu-5>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-5, lower-roman) ". "
        }

        ol.lst-kix_a74y8f2cygkr-0.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-0 0
        }

        ol.lst-kix_iz06hbw56add-3.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-3 0
        }

        .lst-kix_5efr46mqkgrk-5>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-5
        }

        ol.lst-kix_sbfljmibfmz5-0.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-0 0
        }

        .lst-kix_almsv56rapdu-7>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-7, lower-latin) ". "
        }

        .lst-kix_xi9i8jispxx5-7>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-7, lower-latin) ". "
        }

        .lst-kix_xi9i8jispxx5-5>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-5
        }

        .lst-kix_xi9i8jispxx5-1>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-1, lower-latin) ". "
        }

        .lst-kix_xi9i8jispxx5-3>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-3, decimal) ". "
        }

        ol.lst-kix_136oqlka6fxr-1.start {
            counter-reset: lst-ctn-kix_136oqlka6fxr-1 0
        }

        .lst-kix_iz06hbw56add-0>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-0, decimal) ". "
        }

        .lst-kix_xi9i8jispxx5-5>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-5, lower-roman) ". "
        }

        ol.lst-kix_1atlwd1tz5yj-2.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-2 0
        }

        ul.lst-kix_sqvwoijy1szz-3 {
            list-style-type: none
        }

        ul.lst-kix_sqvwoijy1szz-4 {
            list-style-type: none
        }

        .lst-kix_136oqlka6fxr-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_sqvwoijy1szz-5 {
            list-style-type: none
        }

        ul.lst-kix_sqvwoijy1szz-6 {
            list-style-type: none
        }

        ul.lst-kix_sqvwoijy1szz-0 {
            list-style-type: none
        }

        .lst-kix_136oqlka6fxr-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_sqvwoijy1szz-2 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-1.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-1 0
        }

        .lst-kix_136oqlka6fxr-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_almsv56rapdu-0>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-0
        }

        .lst-kix_maa7btjwabk9-6>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-6
        }

        ol.lst-kix_kzlc3pribppf-4.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-4 0
        }

        ol.lst-kix_kzlc3pribppf-0 {
            list-style-type: none
        }

        .lst-kix_cqsc1wbaqf6y-4>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-4
        }

        ol.lst-kix_5efr46mqkgrk-8 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-4 {
            list-style-type: none
        }

        ol.lst-kix_kzlc3pribppf-6 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-5 {
            list-style-type: none
        }

        ol.lst-kix_kzlc3pribppf-5 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-6 {
            list-style-type: none
        }

        ol.lst-kix_kzlc3pribppf-8 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-7 {
            list-style-type: none
        }

        ol.lst-kix_kzlc3pribppf-7 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-0 {
            list-style-type: none
        }

        ul.lst-kix_sqvwoijy1szz-7 {
            list-style-type: none
        }

        ol.lst-kix_kzlc3pribppf-2 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-1 {
            list-style-type: none
        }

        ul.lst-kix_sqvwoijy1szz-8 {
            list-style-type: none
        }

        ol.lst-kix_kzlc3pribppf-1 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-2 {
            list-style-type: none
        }

        ol.lst-kix_kzlc3pribppf-4 {
            list-style-type: none
        }

        .lst-kix_xi9i8jispxx5-4>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-4
        }

        ol.lst-kix_5efr46mqkgrk-3 {
            list-style-type: none
        }

        ol.lst-kix_kzlc3pribppf-3 {
            list-style-type: none
        }

        .lst-kix_almsv56rapdu-2>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-2
        }

        .lst-kix_a74y8f2cygkr-8>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-8
        }

        ol.lst-kix_xi9i8jispxx5-1.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-1 0
        }

        ol.lst-kix_sbfljmibfmz5-5.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-5 0
        }

        ol.lst-kix_5efr46mqkgrk-1.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-1 0
        }

        .lst-kix_sbfljmibfmz5-6>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-6
        }

        .lst-kix_5efr46mqkgrk-6>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-6
        }

        .lst-kix_136oqlka6fxr-2>li:before {
            content: "\0025a0   "
        }

        ol.lst-kix_iz06hbw56add-5.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-5 0
        }

        .lst-kix_maa7btjwabk9-4>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-4
        }

        ol.lst-kix_xi9i8jispxx5-0.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-0 0
        }

        .lst-kix_sqvwoijy1szz-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_a74y8f2cygkr-1>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-1
        }

        .lst-kix_sqvwoijy1szz-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_sqvwoijy1szz-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_sbfljmibfmz5-1>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-1, lower-latin) ". "
        }

        .lst-kix_xi9i8jispxx5-0>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-0
        }

        .lst-kix_sbfljmibfmz5-2>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-2, lower-roman) ". "
        }

        .lst-kix_sqvwoijy1szz-1>li:before {
            content: "" counter(lst-ctn-kix_sqvwoijy1szz-1, decimal) ". "
        }

        ol.lst-kix_iz06hbw56add-6.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-6 0
        }

        .lst-kix_sqvwoijy1szz-0>li:before {
            content: "\0025cf   "
        }

        ol.lst-kix_kzlc3pribppf-5.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-5 0
        }

        .lst-kix_sbfljmibfmz5-5>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-5, lower-roman) ". "
        }

        .lst-kix_huhn71fp1jj9-1>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-1
        }

        .lst-kix_sbfljmibfmz5-6>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-6, decimal) ". "
        }

        .lst-kix_sbfljmibfmz5-4>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-4
        }

        .lst-kix_a74y8f2cygkr-1>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-1, lower-latin) ". "
        }

        .lst-kix_kzlc3pribppf-7>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-7
        }

        .lst-kix_a74y8f2cygkr-2>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-2, lower-roman) ". "
        }

        .lst-kix_a74y8f2cygkr-6>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-6, decimal) ". "
        }

        .lst-kix_1atlwd1tz5yj-4>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-4
        }

        .lst-kix_a74y8f2cygkr-5>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-5, lower-roman) ". "
        }

        .lst-kix_izwwpsaf3mhd-1>li:before {
            content: "" counter(lst-ctn-kix_izwwpsaf3mhd-1, decimal) ". "
        }

        .lst-kix_cqsc1wbaqf6y-2>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-2
        }

        .lst-kix_sqvwoijy1szz-1>li {
            counter-increment: lst-ctn-kix_sqvwoijy1szz-1
        }

        ol.lst-kix_a74y8f2cygkr-5 {
            list-style-type: none
        }

        .lst-kix_maa7btjwabk9-0>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-0, decimal) ". "
        }

        ol.lst-kix_a74y8f2cygkr-4 {
            list-style-type: none
        }

        ol.lst-kix_a74y8f2cygkr-7 {
            list-style-type: none
        }

        .lst-kix_izwwpsaf3mhd-4>li:before {
            content: "\0025cb   "
        }

        ol.lst-kix_a74y8f2cygkr-6 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-5.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-5 0
        }

        ol.lst-kix_a74y8f2cygkr-1 {
            list-style-type: none
        }

        .lst-kix_5efr46mqkgrk-3>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-3, decimal) ". "
        }

        ol.lst-kix_a74y8f2cygkr-0 {
            list-style-type: none
        }

        .lst-kix_5efr46mqkgrk-1>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-1
        }

        ol.lst-kix_a74y8f2cygkr-3 {
            list-style-type: none
        }

        ol.lst-kix_sbfljmibfmz5-4.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-4 0
        }

        ol.lst-kix_a74y8f2cygkr-2 {
            list-style-type: none
        }

        .lst-kix_aq9u7515bjx2-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_izwwpsaf3mhd-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_p62yi4ee2jcv-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_kzlc3pribppf-2>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-2
        }

        ol.lst-kix_iz06hbw56add-7.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-7 0
        }

        ol.lst-kix_kzlc3pribppf-0.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-0 0
        }

        .lst-kix_a74y8f2cygkr-3>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-3
        }

        .lst-kix_kzlc3pribppf-5>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-5, lower-roman) ". "
        }

        .lst-kix_5efr46mqkgrk-7>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-7, lower-latin) ". "
        }

        .lst-kix_iz06hbw56add-1>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-1
        }

        .lst-kix_aq9u7515bjx2-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_maa7btjwabk9-4>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-4, lower-latin) ". "
        }

        .lst-kix_p62yi4ee2jcv-4>li:before {
            content: "\0025cb   "
        }

        ol.lst-kix_a74y8f2cygkr-8 {
            list-style-type: none
        }

        .lst-kix_1atlwd1tz5yj-6>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-6
        }

        .lst-kix_cqsc1wbaqf6y-6>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-6, decimal) ". "
        }

        ol.lst-kix_almsv56rapdu-2.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-2 0
        }

        .lst-kix_cqsc1wbaqf6y-2>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-2, lower-roman) ". "
        }

        .lst-kix_p62yi4ee2jcv-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_almsv56rapdu-0>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-0, decimal) ". "
        }

        ol.lst-kix_5efr46mqkgrk-8.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-8 0
        }

        .lst-kix_kzlc3pribppf-1>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-1, lower-latin) ". "
        }

        ol.lst-kix_izwwpsaf3mhd-1.start {
            counter-reset: lst-ctn-kix_izwwpsaf3mhd-1 0
        }

        .lst-kix_iz06hbw56add-7>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-7, lower-latin) ". "
        }

        .lst-kix_iz06hbw56add-3>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-3, decimal) ". "
        }

        ol.lst-kix_sbfljmibfmz5-6.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-6 0
        }

        .lst-kix_xi9i8jispxx5-0>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-0, decimal) ". "
        }

        ol.lst-kix_1atlwd1tz5yj-2 {
            list-style-type: none
        }

        ol.lst-kix_1atlwd1tz5yj-1 {
            list-style-type: none
        }

        ol.lst-kix_1atlwd1tz5yj-0 {
            list-style-type: none
        }

        ol.lst-kix_5efr46mqkgrk-7.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-7 0
        }

        ol.lst-kix_kzlc3pribppf-2.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-2 0
        }

        .lst-kix_almsv56rapdu-4>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-4, lower-latin) ". "
        }

        .lst-kix_5efr46mqkgrk-8>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-8
        }

        .lst-kix_almsv56rapdu-8>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-8, lower-roman) ". "
        }

        ol.lst-kix_1atlwd1tz5yj-8 {
            list-style-type: none
        }

        ol.lst-kix_1atlwd1tz5yj-7 {
            list-style-type: none
        }

        ol.lst-kix_1atlwd1tz5yj-6 {
            list-style-type: none
        }

        .lst-kix_xi9i8jispxx5-8>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-8, lower-roman) ". "
        }

        ol.lst-kix_1atlwd1tz5yj-5 {
            list-style-type: none
        }

        ol.lst-kix_1atlwd1tz5yj-4 {
            list-style-type: none
        }

        ol.lst-kix_1atlwd1tz5yj-3 {
            list-style-type: none
        }

        .lst-kix_maa7btjwabk9-8>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-8, lower-roman) ". "
        }

        .lst-kix_almsv56rapdu-7>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-7
        }

        ol.lst-kix_sbfljmibfmz5-7.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-7 0
        }

        ol.lst-kix_almsv56rapdu-0.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-0 0
        }

        ol.lst-kix_kzlc3pribppf-3.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-3 0
        }

        .lst-kix_xi9i8jispxx5-2>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-2
        }

        ol.lst-kix_5efr46mqkgrk-6.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-6 0
        }

        .lst-kix_huhn71fp1jj9-6>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-6
        }

        .lst-kix_xi9i8jispxx5-4>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-4, lower-latin) ". "
        }

        .lst-kix_kzlc3pribppf-8>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-8
        }

        ol.lst-kix_maa7btjwabk9-2.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-2 0
        }

        .lst-kix_iz06hbw56add-6>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-6
        }

        .lst-kix_xi9i8jispxx5-3>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-3
        }

        .lst-kix_cqsc1wbaqf6y-3>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-3
        }

        .lst-kix_61rorfbafx55-8>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-8
        }

        ol.lst-kix_sbfljmibfmz5-8.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-8 0
        }

        .lst-kix_sbfljmibfmz5-5>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-5
        }

        .lst-kix_5efr46mqkgrk-7>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-7
        }

        .lst-kix_61rorfbafx55-2>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-2, lower-roman) ". "
        }

        ol.lst-kix_kzlc3pribppf-1.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-1 0
        }

        .lst-kix_61rorfbafx55-1>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-1, lower-latin) ". "
        }

        .lst-kix_61rorfbafx55-3>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-3, decimal) ". "
        }

        .lst-kix_1atlwd1tz5yj-3>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-3
        }

        .lst-kix_61rorfbafx55-0>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-0, decimal) ". "
        }

        .lst-kix_61rorfbafx55-4>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-4, lower-latin) ". "
        }

        .lst-kix_huhn71fp1jj9-2>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-2
        }

        .lst-kix_maa7btjwabk9-7>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-7
        }

        .lst-kix_61rorfbafx55-6>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-6, decimal) ". "
        }

        .lst-kix_61rorfbafx55-5>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-5, lower-roman) ". "
        }

        .lst-kix_61rorfbafx55-7>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-7, lower-latin) ". "
        }

        ol.lst-kix_5efr46mqkgrk-4.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-4 0
        }

        ol.lst-kix_a74y8f2cygkr-4.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-4 0
        }

        ol.lst-kix_136oqlka6fxr-1 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-3.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-3 0
        }

        .lst-kix_a74y8f2cygkr-7>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-7
        }

        ol.lst-kix_maa7btjwabk9-7.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-7 0
        }

        .lst-kix_5efr46mqkgrk-3>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-3
        }

        .lst-kix_maa7btjwabk9-3>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-3
        }

        ol.lst-kix_huhn71fp1jj9-2.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-2 0
        }

        .lst-kix_xi9i8jispxx5-7>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-7
        }

        ol.lst-kix_sbfljmibfmz5-3.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-3 0
        }

        ol.lst-kix_cqsc1wbaqf6y-6.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-6 0
        }

        .lst-kix_iz06hbw56add-2>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-2
        }

        .lst-kix_kzlc3pribppf-4>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-4
        }

        .lst-kix_sbfljmibfmz5-1>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-1
        }

        ol.lst-kix_sqvwoijy1szz-1 {
            list-style-type: none
        }

        .lst-kix_61rorfbafx55-4>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-4
        }

        .lst-kix_61rorfbafx55-1>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-1
        }

        ol.lst-kix_kzlc3pribppf-6.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-6 0
        }

        .lst-kix_kzlc3pribppf-1>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-1
        }

        .lst-kix_aq9u7515bjx2-0>li:before {
            content: "\0025cf   "
        }

        ol.lst-kix_61rorfbafx55-5.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-5 0
        }

        .lst-kix_aq9u7515bjx2-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_izwwpsaf3mhd-2 {
            list-style-type: none
        }

        .lst-kix_izwwpsaf3mhd-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_izwwpsaf3mhd-3 {
            list-style-type: none
        }

        ul.lst-kix_izwwpsaf3mhd-4 {
            list-style-type: none
        }

        ul.lst-kix_izwwpsaf3mhd-5 {
            list-style-type: none
        }

        .lst-kix_aq9u7515bjx2-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_aq9u7515bjx2-4>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_izwwpsaf3mhd-6 {
            list-style-type: none
        }

        ol.lst-kix_iz06hbw56add-4.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-4 0
        }

        .lst-kix_maa7btjwabk9-1>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-1, lower-latin) ". "
        }

        ul.lst-kix_izwwpsaf3mhd-7 {
            list-style-type: none
        }

        ol.lst-kix_1atlwd1tz5yj-3.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-3 0
        }

        ul.lst-kix_izwwpsaf3mhd-8 {
            list-style-type: none
        }

        .lst-kix_kzlc3pribppf-8>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-8, lower-roman) ". "
        }

        .lst-kix_izwwpsaf3mhd-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_aq9u7515bjx2-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_izwwpsaf3mhd-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_p62yi4ee2jcv-7>li:before {
            content: "\0025cb   "
        }

        ol.lst-kix_sbfljmibfmz5-1.start {
            counter-reset: lst-ctn-kix_sbfljmibfmz5-1 0
        }

        .lst-kix_5efr46mqkgrk-0>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-0
        }

        .lst-kix_maa7btjwabk9-7>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-7, lower-latin) ". "
        }

        .lst-kix_maa7btjwabk9-5>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-5, lower-roman) ". "
        }

        .lst-kix_p62yi4ee2jcv-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_p62yi4ee2jcv-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_kzlc3pribppf-4>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-4, lower-latin) ". "
        }

        .lst-kix_maa7btjwabk9-3>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-3, decimal) ". "
        }

        ol.lst-kix_xi9i8jispxx5-5.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-5 0
        }

        .lst-kix_aq9u7515bjx2-8>li:before {
            content: "\0025a0   "
        }

        ol.lst-kix_5efr46mqkgrk-2.start {
            counter-reset: lst-ctn-kix_5efr46mqkgrk-2 0
        }

        .lst-kix_p62yi4ee2jcv-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_kzlc3pribppf-6>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-6, decimal) ". "
        }

        ul.lst-kix_izwwpsaf3mhd-0 {
            list-style-type: none
        }

        .lst-kix_almsv56rapdu-5>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-5
        }

        .lst-kix_136oqlka6fxr-1>li {
            counter-increment: lst-ctn-kix_136oqlka6fxr-1
        }

        ol.lst-kix_kzlc3pribppf-8.start {
            counter-reset: lst-ctn-kix_kzlc3pribppf-8 0
        }

        .lst-kix_cqsc1wbaqf6y-3>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-3, decimal) ". "
        }

        .lst-kix_cqsc1wbaqf6y-7>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-7, lower-latin) ". "
        }

        ol.lst-kix_sbfljmibfmz5-8 {
            list-style-type: none
        }

        ol.lst-kix_sbfljmibfmz5-4 {
            list-style-type: none
        }

        ol.lst-kix_sbfljmibfmz5-5 {
            list-style-type: none
        }

        .lst-kix_kzlc3pribppf-2>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-2, lower-roman) ". "
        }

        .lst-kix_cqsc1wbaqf6y-1>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-1, lower-latin) ". "
        }

        ol.lst-kix_sbfljmibfmz5-6 {
            list-style-type: none
        }

        ol.lst-kix_sbfljmibfmz5-7 {
            list-style-type: none
        }

        ol.lst-kix_sbfljmibfmz5-0 {
            list-style-type: none
        }

        ol.lst-kix_sbfljmibfmz5-1 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-5.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-5 0
        }

        ol.lst-kix_sbfljmibfmz5-2 {
            list-style-type: none
        }

        ol.lst-kix_maa7btjwabk9-0.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-0 0
        }

        ol.lst-kix_sbfljmibfmz5-3 {
            list-style-type: none
        }

        .lst-kix_kzlc3pribppf-0>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-0, lower-latin) ". "
        }

        .lst-kix_cqsc1wbaqf6y-5>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-5, lower-roman) ". "
        }

        ol.lst-kix_almsv56rapdu-8.start {
            counter-reset: lst-ctn-kix_almsv56rapdu-8 0
        }

        .lst-kix_kzlc3pribppf-5>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-5
        }

        ol.lst-kix_cqsc1wbaqf6y-0 {
            list-style-type: none
        }

        ol.lst-kix_cqsc1wbaqf6y-1 {
            list-style-type: none
        }

        .lst-kix_sbfljmibfmz5-8>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-8
        }

        ol.lst-kix_cqsc1wbaqf6y-2 {
            list-style-type: none
        }

        ol.lst-kix_cqsc1wbaqf6y-3 {
            list-style-type: none
        }

        .lst-kix_cqsc1wbaqf6y-0>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-0
        }

        ol.lst-kix_cqsc1wbaqf6y-4 {
            list-style-type: none
        }

        ol.lst-kix_cqsc1wbaqf6y-5 {
            list-style-type: none
        }

        ol.lst-kix_cqsc1wbaqf6y-6 {
            list-style-type: none
        }

        ol.lst-kix_iz06hbw56add-2.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-2 0
        }

        .lst-kix_cqsc1wbaqf6y-6>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-6
        }

        ol.lst-kix_cqsc1wbaqf6y-7 {
            list-style-type: none
        }

        ol.lst-kix_cqsc1wbaqf6y-8 {
            list-style-type: none
        }

        .lst-kix_iz06hbw56add-3>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-3
        }

        ol.lst-kix_xi9i8jispxx5-3.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-3 0
        }

        .lst-kix_a74y8f2cygkr-0>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-0
        }

        .lst-kix_61rorfbafx55-8>li:before {
            content: "" counter(lst-ctn-kix_61rorfbafx55-8, lower-roman) ". "
        }

        ol.lst-kix_1atlwd1tz5yj-1.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-1 0
        }

        .lst-kix_kzlc3pribppf-0>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-0
        }

        .lst-kix_sbfljmibfmz5-2>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-2
        }

        .lst-kix_cqsc1wbaqf6y-7>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-7
        }

        ol.lst-kix_61rorfbafx55-8.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-8 0
        }

        .lst-kix_almsv56rapdu-4>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-4
        }

        ol.lst-kix_huhn71fp1jj9-0.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-0 0
        }

        .lst-kix_136oqlka6fxr-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_huhn71fp1jj9-3>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-3
        }

        .lst-kix_136oqlka6fxr-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_136oqlka6fxr-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_1atlwd1tz5yj-2>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-2
        }

        ol.lst-kix_61rorfbafx55-4 {
            list-style-type: none
        }

        ol.lst-kix_61rorfbafx55-1.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-1 0
        }

        ol.lst-kix_61rorfbafx55-5 {
            list-style-type: none
        }

        ol.lst-kix_61rorfbafx55-7.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-7 0
        }

        ol.lst-kix_61rorfbafx55-2 {
            list-style-type: none
        }

        ol.lst-kix_61rorfbafx55-3 {
            list-style-type: none
        }

        ol.lst-kix_61rorfbafx55-8 {
            list-style-type: none
        }

        ol.lst-kix_61rorfbafx55-6 {
            list-style-type: none
        }

        ol.lst-kix_61rorfbafx55-7 {
            list-style-type: none
        }

        ol.lst-kix_61rorfbafx55-0 {
            list-style-type: none
        }

        ol.lst-kix_61rorfbafx55-1 {
            list-style-type: none
        }

        .lst-kix_iz06hbw56add-7>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-7
        }

        ol.lst-kix_huhn71fp1jj9-6.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-6 0
        }

        .lst-kix_1atlwd1tz5yj-0>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-0
        }

        ol.lst-kix_a74y8f2cygkr-7.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-7 0
        }

        ol.lst-kix_cqsc1wbaqf6y-8.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-8 0
        }

        ol.lst-kix_1atlwd1tz5yj-4.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-4 0
        }

        .lst-kix_huhn71fp1jj9-5>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-5
        }

        .lst-kix_izwwpsaf3mhd-1>li {
            counter-increment: lst-ctn-kix_izwwpsaf3mhd-1
        }

        .lst-kix_136oqlka6fxr-0>li:before {
            content: "\0025cf   "
        }

        ol.lst-kix_a74y8f2cygkr-1.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-1 0
        }

        .lst-kix_136oqlka6fxr-1>li:before {
            content: "" counter(lst-ctn-kix_136oqlka6fxr-1, decimal) ". "
        }

        .lst-kix_sbfljmibfmz5-0>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-0, decimal) ". "
        }

        .lst-kix_xi9i8jispxx5-6>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-6
        }

        ol.lst-kix_1atlwd1tz5yj-5.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-5 0
        }

        .lst-kix_sbfljmibfmz5-3>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-3, decimal) ". "
        }

        ol.lst-kix_61rorfbafx55-6.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-6 0
        }

        .lst-kix_sqvwoijy1szz-3>li:before {
            content: "\0025cf   "
        }

        ol.lst-kix_xi9i8jispxx5-7.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-7 0
        }

        .lst-kix_sbfljmibfmz5-7>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-7, lower-latin) ". "
        }

        ol.lst-kix_a74y8f2cygkr-2.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-2 0
        }

        ul.lst-kix_136oqlka6fxr-8 {
            list-style-type: none
        }

        .lst-kix_sqvwoijy1szz-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_136oqlka6fxr-7 {
            list-style-type: none
        }

        ul.lst-kix_136oqlka6fxr-6 {
            list-style-type: none
        }

        ul.lst-kix_136oqlka6fxr-5 {
            list-style-type: none
        }

        ul.lst-kix_136oqlka6fxr-4 {
            list-style-type: none
        }

        .lst-kix_sbfljmibfmz5-4>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-4, lower-latin) ". "
        }

        .lst-kix_sbfljmibfmz5-8>li:before {
            content: "" counter(lst-ctn-kix_sbfljmibfmz5-8, lower-roman) ". "
        }

        ul.lst-kix_136oqlka6fxr-3 {
            list-style-type: none
        }

        .lst-kix_huhn71fp1jj9-7>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-7
        }

        .lst-kix_5efr46mqkgrk-4>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-4
        }

        ul.lst-kix_136oqlka6fxr-2 {
            list-style-type: none
        }

        ul.lst-kix_136oqlka6fxr-0 {
            list-style-type: none
        }

        ol.lst-kix_xi9i8jispxx5-6.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-6 0
        }

        .lst-kix_iz06hbw56add-5>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-5
        }

        .lst-kix_cqsc1wbaqf6y-8>li {
            counter-increment: lst-ctn-kix_cqsc1wbaqf6y-8
        }

        .lst-kix_a74y8f2cygkr-3>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-3, decimal) ". "
        }

        ol.lst-kix_xi9i8jispxx5-2 {
            list-style-type: none
        }

        ol.lst-kix_xi9i8jispxx5-1 {
            list-style-type: none
        }

        ol.lst-kix_iz06hbw56add-0.start {
            counter-reset: lst-ctn-kix_iz06hbw56add-0 0
        }

        ol.lst-kix_xi9i8jispxx5-4 {
            list-style-type: none
        }

        .lst-kix_61rorfbafx55-7>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-7
        }

        .lst-kix_a74y8f2cygkr-4>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-4, lower-latin) ". "
        }

        ol.lst-kix_xi9i8jispxx5-3 {
            list-style-type: none
        }

        ol.lst-kix_sqvwoijy1szz-1.start {
            counter-reset: lst-ctn-kix_sqvwoijy1szz-1 0
        }

        ol.lst-kix_xi9i8jispxx5-0 {
            list-style-type: none
        }

        .lst-kix_izwwpsaf3mhd-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_a74y8f2cygkr-8>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-8, lower-roman) ". "
        }

        .lst-kix_sqvwoijy1szz-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_izwwpsaf3mhd-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_a74y8f2cygkr-7>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-7, lower-latin) ". "
        }

        .lst-kix_sqvwoijy1szz-7>li:before {
            content: "\0025cb   "
        }

        ol.lst-kix_huhn71fp1jj9-1.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-1 0
        }

        ol.lst-kix_huhn71fp1jj9-8 {
            list-style-type: none
        }

        .lst-kix_5efr46mqkgrk-1>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-1, lower-latin) ". "
        }

        .lst-kix_izwwpsaf3mhd-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_maa7btjwabk9-2>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-2, lower-roman) ". "
        }

        .lst-kix_p62yi4ee2jcv-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_a74y8f2cygkr-4>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-4
        }

        .lst-kix_1atlwd1tz5yj-7>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-7
        }

        .lst-kix_iz06hbw56add-0>li {
            counter-increment: lst-ctn-kix_iz06hbw56add-0
        }

        ol.lst-kix_huhn71fp1jj9-7.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-7 0
        }

        .lst-kix_maa7btjwabk9-0>li {
            counter-increment: lst-ctn-kix_maa7btjwabk9-0
        }

        .lst-kix_xi9i8jispxx5-8>li {
            counter-increment: lst-ctn-kix_xi9i8jispxx5-8
        }

        .lst-kix_aq9u7515bjx2-5>li:before {
            content: "\0025a0   "
        }

        ol.lst-kix_maa7btjwabk9-6.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-6 0
        }

        .lst-kix_p62yi4ee2jcv-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_kzlc3pribppf-3>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-3, decimal) ". "
        }

        .lst-kix_kzlc3pribppf-3>li {
            counter-increment: lst-ctn-kix_kzlc3pribppf-3
        }

        ol.lst-kix_1atlwd1tz5yj-6.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-6 0
        }

        .lst-kix_maa7btjwabk9-6>li:before {
            content: "" counter(lst-ctn-kix_maa7btjwabk9-6, decimal) ". "
        }

        ol.lst-kix_a74y8f2cygkr-8.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-8 0
        }

        ol.lst-kix_xi9i8jispxx5-8.start {
            counter-reset: lst-ctn-kix_xi9i8jispxx5-8 0
        }

        .lst-kix_kzlc3pribppf-7>li:before {
            content: "" counter(lst-ctn-kix_kzlc3pribppf-7, lower-latin) ". "
        }

        .lst-kix_almsv56rapdu-6>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-6
        }

        .lst-kix_5efr46mqkgrk-5>li:before {
            content: "" counter(lst-ctn-kix_5efr46mqkgrk-5, lower-roman) ". "
        }

        .lst-kix_a74y8f2cygkr-0>li:before {
            content: "" counter(lst-ctn-kix_a74y8f2cygkr-0, decimal) ". "
        }

        ol.lst-kix_a74y8f2cygkr-5.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-5 0
        }

        ol.lst-kix_maa7btjwabk9-3.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-3 0
        }

        .lst-kix_cqsc1wbaqf6y-4>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-4, lower-latin) ". "
        }

        .lst-kix_cqsc1wbaqf6y-8>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-8, lower-roman) ". "
        }

        ol.lst-kix_izwwpsaf3mhd-1 {
            list-style-type: none
        }

        .lst-kix_almsv56rapdu-2>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-2, lower-roman) ". "
        }

        ol.lst-kix_cqsc1wbaqf6y-1.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-1 0
        }

        .lst-kix_61rorfbafx55-0>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-0
        }

        ol.lst-kix_61rorfbafx55-3.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-3 0
        }

        .lst-kix_a74y8f2cygkr-2>li {
            counter-increment: lst-ctn-kix_a74y8f2cygkr-2
        }

        .lst-kix_almsv56rapdu-8>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-8
        }

        ol.lst-kix_cqsc1wbaqf6y-4.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-4 0
        }

        .lst-kix_sbfljmibfmz5-0>li {
            counter-increment: lst-ctn-kix_sbfljmibfmz5-0
        }

        ol.lst-kix_61rorfbafx55-0.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-0 0
        }

        .lst-kix_iz06hbw56add-5>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-5, lower-roman) ". "
        }

        ol.lst-kix_maa7btjwabk9-4.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-4 0
        }

        ol.lst-kix_a74y8f2cygkr-6.start {
            counter-reset: lst-ctn-kix_a74y8f2cygkr-6 0
        }

        ol.lst-kix_1atlwd1tz5yj-8.start {
            counter-reset: lst-ctn-kix_1atlwd1tz5yj-8 0
        }

        .lst-kix_huhn71fp1jj9-0>li {
            counter-increment: lst-ctn-kix_huhn71fp1jj9-0
        }

        .lst-kix_61rorfbafx55-5>li {
            counter-increment: lst-ctn-kix_61rorfbafx55-5
        }

        .lst-kix_1atlwd1tz5yj-5>li {
            counter-increment: lst-ctn-kix_1atlwd1tz5yj-5
        }

        ol.lst-kix_61rorfbafx55-2.start {
            counter-reset: lst-ctn-kix_61rorfbafx55-2 0
        }

        ol.lst-kix_almsv56rapdu-3 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-4 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-5 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-6 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-7 {
            list-style-type: none
        }

        .lst-kix_cqsc1wbaqf6y-0>li:before {
            content: "" counter(lst-ctn-kix_cqsc1wbaqf6y-0, decimal) ". "
        }

        ul.lst-kix_p62yi4ee2jcv-8 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-8 {
            list-style-type: none
        }

        ul.lst-kix_p62yi4ee2jcv-7 {
            list-style-type: none
        }

        ul.lst-kix_p62yi4ee2jcv-6 {
            list-style-type: none
        }

        ul.lst-kix_p62yi4ee2jcv-5 {
            list-style-type: none
        }

        ul.lst-kix_p62yi4ee2jcv-4 {
            list-style-type: none
        }

        ul.lst-kix_p62yi4ee2jcv-3 {
            list-style-type: none
        }

        ol.lst-kix_huhn71fp1jj9-5.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-5 0
        }

        ul.lst-kix_p62yi4ee2jcv-2 {
            list-style-type: none
        }

        ul.lst-kix_p62yi4ee2jcv-1 {
            list-style-type: none
        }

        ul.lst-kix_p62yi4ee2jcv-0 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-0 {
            list-style-type: none
        }

        ol.lst-kix_almsv56rapdu-1 {
            list-style-type: none
        }

        ol.lst-kix_cqsc1wbaqf6y-2.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-2 0
        }

        ol.lst-kix_almsv56rapdu-2 {
            list-style-type: none
        }

        .lst-kix_almsv56rapdu-6>li:before {
            content: "" counter(lst-ctn-kix_almsv56rapdu-6, decimal) ". "
        }

        .lst-kix_xi9i8jispxx5-6>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-6, decimal) ". "
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        .lst-kix_xi9i8jispxx5-2>li:before {
            content: "" counter(lst-ctn-kix_xi9i8jispxx5-2, lower-roman) ". "
        }

        ol.lst-kix_cqsc1wbaqf6y-3.start {
            counter-reset: lst-ctn-kix_cqsc1wbaqf6y-3 0
        }

        .lst-kix_iz06hbw56add-1>li:before {
            content: "" counter(lst-ctn-kix_iz06hbw56add-1, lower-latin) ". "
        }

        ol.lst-kix_huhn71fp1jj9-4.start {
            counter-reset: lst-ctn-kix_huhn71fp1jj9-4 0
        }

        ol.lst-kix_huhn71fp1jj9-0 {
            list-style-type: none
        }

        ol.lst-kix_huhn71fp1jj9-1 {
            list-style-type: none
        }

        .lst-kix_almsv56rapdu-1>li {
            counter-increment: lst-ctn-kix_almsv56rapdu-1
        }

        ol.lst-kix_huhn71fp1jj9-2 {
            list-style-type: none
        }

        ol.lst-kix_huhn71fp1jj9-3 {
            list-style-type: none
        }

        .lst-kix_5efr46mqkgrk-2>li {
            counter-increment: lst-ctn-kix_5efr46mqkgrk-2
        }

        ol.lst-kix_huhn71fp1jj9-4 {
            list-style-type: none
        }

        ol.lst-kix_huhn71fp1jj9-5 {
            list-style-type: none
        }

        ol.lst-kix_huhn71fp1jj9-6 {
            list-style-type: none
        }

        ol.lst-kix_maa7btjwabk9-5.start {
            counter-reset: lst-ctn-kix_maa7btjwabk9-5 0
        }

        ol.lst-kix_huhn71fp1jj9-7 {
            list-style-type: none
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c15 {
            margin-left: 72pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c6 {
            margin-left: 36pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 15pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c9 {
            margin-left: 36pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 13pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c2 {
            margin-left: 36pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c12 {
            margin-left: 36pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c8 {
            margin-left: 72pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c3 {
            margin-left: 36pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 13pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c1 {
            margin-left: 14pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c11 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 15pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 15pt;
            font-family: "Arial";
            font-style: normal
        }

        .c14 {
            margin-left: 14pt;
            padding-top: 0pt;
            padding-bottom: 3pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c13 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c10 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 24.5pt;
            font-family: "Arial";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 3pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c7 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c4 {
            padding: 0;
            margin: 0
        }

        .c16 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <Navbar />
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-col align-items-center">
    <div class="container d-flex mt-5 flex-column align-items-center">
    <h1>KMN Policies</h1>
    <p class="fs-5 text-center">
         
    </p>
      
    </div>
  </section><!-- End Hero Section -->
<main id="main">
        <section class="container">
            <p class="c7 doc-content">
            <p class="c5"><span class="c11">KNOWMYNETWORK &nbsp;Privacy and Data Protection Policy</span></p>
            <p class="c5 c16"><span class="c11"></span></p>
            <p class="c1"><span class="c0">This privacy and data protection policy (the policy) will explain how our
                    websites,
                    mobile applications, products, content or services (collectively &ldquo;Platform&rdquo;) uses the
                    personal
                    data we collect from our customers and related partners when they use our Platform. It describes our
                    commitment to treat your information with the utmost care and confidentiality and explains your
                    privacy
                    rights regarding KNOWMYNETWORK (&ldquo;we&rdquo;, &ldquo;us&rdquo; or &ldquo;our&rdquo;) collection,
                    use,
                    storage, sharing and protection of your &nbsp;personal information.</span></p>
            <p class="c1"><span class="c0">This Privacy Policy describes a user&#39;s privacy rights regarding our
                    collection,
                    use, storage, sharing and protection of personal information. It applies to the Platform and all
                    related
                    sites, applications, services and tools regardless of how they are accessed or used. This Policy
                    does not
                    apply to services that are not owned or controlled by KNOWMYNETWORK, including third-party websites
                    that
                    maybe accessible through links which are present on our platforms and all related sites,
                    applications,
                    services and tools. You are encouraged to review the privacy policy of such third party.</span></p>
            <p class="c1"><span class="c0">We conduct business in a responsible and sustainable manner and ensure
                    customer
                    information is securely collected, processed, and stored based on business requirements. In
                    furtherance of
                    this and compliance with industry regulations, we have provided appropriate documentation, which
                    includes
                    this policy. We therefore provide notice about this policy and applicable procedures.</span></p>
            <p class="c1"><span class="c0">Throughout this Privacy Policy, we use the term &quot;personal information or
                    data&quot; to describe information that can be associated with a specific person and can be used to
                    identify
                    that person. We do not consider personal information to include information that has been made
                    anonymous
                    such that it does not identify a specific user.</span></p>
            <p class="c1"><span class="c0">To use our website or any of our products or services, your consent is
                    required for
                    the use of your data as described in this Policy.</span></p>
            <p class="c1"><span class="c0">This Privacy Policy is intended to set certain standards across the
                    operations of
                    KNOWMYNETWORK Innovations Limited.</span></p>
            <ol class="c4 lst-kix_a74y8f2cygkr-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">The Information we Collect</span></li>
            </ol>
            <p class="c1"><span class="c0">As part of our operations, KNOWMYNETWORK may collect and processes certain
                    types of
                    personal identifiable information (such as Name, email address, phone number, contact address,
                    location
                    data, device data, payment transaction information etc.) of individuals which include current, past
                    and
                    prospective employees, Registration and Passenger information, Driver information and other
                    individuals whom
                    KNOWMYNETWORK communicates or deals with, jointly and/or severally (&ldquo;Data
                    Subject(s)&rdquo;).</span>
            </p>
            <ol class="c4 lst-kix_61rorfbafx55-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">We use your Personal Information to:</span></li>
            </ol>
            <ol class="c4 lst-kix_kzlc3pribppf-0 start" start="1">
                <li class="c3 li-bullet-0"><span class="c0">Provide you with the required services;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Respond to your questions or requests;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Improve features, website content and analyse data to
                        develop
                        products and services;</span></li>
                <li class="c6 li-bullet-0"><span class="c0">Address inappropriate use of our website;Prevent, detect and
                        manage
                        risk against fraud and illegal activities using internal and third-Party screening tools;</span>
                </li>
                <li class="c3 li-bullet-0"><span class="c0">Send you marketing content, newsletters and service updates
                        created
                        by KNOWMYNETWORK, however, we will provide you with an option to unsubscribe if you do not want
                        to hear
                        from us;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Verify your identity and the information you provide in line
                        with
                        KNOWMYNETWORK&rsquo;s statutory obligations using internal and third-party tools;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Maintain up-to-date records;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Resolve disputes that may arise, including investigations by
                        law
                        enforcement or regulatory bodies;</span></li>
                <li class="c2 li-bullet-0"><span class="c0">Any other purpose that we disclose to you in the course of
                        providing
                        KNOWMYNETWORK&rsquo;s services to you.</span></li>
            </ol>
            <p class="c1"><span class="c0">We may retrieve additional Personal Information about you from third parties
                    and
                    other identification/verification services such as your financial institution and payment processor.
                    With
                    your consent, we may also collect additional Personal Information in other ways including emails,
                    surveys,
                    and other forms of communication.</span></p>
            <p class="c1"><span class="c0">Once you begin using our services through your KNOWMYNETWORK account we will
                    keep
                    records of your transactions and collect information of your other activities related to our
                    services. We
                    will not share or disclose your Personal Information with a third party without your consent except
                    as may
                    be required for the purpose of providing you with our services or under applicable
                    legislations.</span></p>
            <p class="c1"><span class="c0">In providing you with the services, we may rely on third-party servers
                    located in
                    foreign jurisdictions from time to time, which as a result, may require the transfer or maintenance
                    of your
                    personally identifiable information on computers or servers in foreign jurisdictions. We will
                    endeavour to
                    ensure that such foreign jurisdictions have data protection legislation that is no less than the
                    existing
                    data protection regulations in force in Nigeria and your personally identifiable information is
                    treated in a
                    safe and secure manner.</span></p>
            <ol class="c4 lst-kix_maa7btjwabk9-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">Purpose Limitation</span></li>
            </ol>
            <p class="c1"><span class="c0">KNOWMYNETWORK collects Personal Information only for identified purposes and
                    for
                    which consent has been obtained. Such Personal Information cannot be reused for another purpose that
                    is
                    incompatible with the original purpose, except consent is obtained for such purpose</span></p>
            <ol class="c4 lst-kix_iz06hbw56add-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">Data Minimization</span></li>
            </ol>
            <p class="c1"><span class="c0">KNOWMYNETWORK limits Personal Information collection and usage to data that
                    is
                    relevant, adequate, and absolutely necessary for carrying out the purpose for which the data is
                    processed.</span></p>
            <p class="c1"><span class="c0">KNOWMYNETWORK will evaluate whether and to what extent the processing of
                    Personal
                    Information is necessary and where the purpose allows, anonymized data will be used.</span></p>
            <ol class="c4 lst-kix_cqsc1wbaqf6y-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">Updates, Modifications &amp; Amendments</span></li>
            </ol>
            <p class="c14"><span class="c0">We may need to update, modify or amend our Privacy Policy as our technology
                    evolves
                    and as required by law. We reserve the right to make changes to this Privacy Policy from time to
                    time and
                    notify Users of material changes. The Privacy Policy will apply from the effective date provided on
                    our
                    website.We advise that you check this page often, referring to the date of the last modification on
                    the
                    page. If a User objects to any of the changes to this Privacy Policy, the User must cease using this
                    Site,
                    or terminate their account in the event an account has been created.</span></p>
            <ol class="c4 lst-kix_xi9i8jispxx5-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">Age Restriction</span></li>
            </ol>
            <p class="c1"><span class="c0">Our website and services are not directed to children (as defined in the
                    local laws).
                    We do not knowingly collect information from children. If as a parent or guardian, you become aware
                    that
                    your child or ward child has provided us with any information without your consent, please contact
                    us
                    through the details provided in this Privacy Policy.</span></p>
            <ol class="c4 lst-kix_sbfljmibfmz5-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">Cookies</span></li>
            </ol>
            <p class="c1"><span class="c0">We use cookies to identify you as a User and make your user experience
                    easier,
                    customise our services, content and advertising; help you ensure that your account security is not
                    compromised, mitigate risk and prevent fraud; and to promote trust and safety on our website.
                    Cookies allow
                    our servers to remember IP addresses, date and time of visits, monitor web traffic and prevent
                    fraudulent
                    activities.</span></p>
            <p class="c1"><span class="c0">Our cookies never store personal or sensitive information; they simply hold a
                    unique
                    random reference to you so that once you visit the site we can recognize who you are and provide
                    certain
                    content to you.</span></p>
            <p class="c1"><span class="c0">If your browser or browser add-on permits, you have the choice to disable
                    cookies on
                    our website, however this may impact your experience using our website.</span></p>
            <ol class="c4 lst-kix_5efr46mqkgrk-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">How We Protect your Information</span></li>
            </ol>
            <p class="c1"><span class="c0">KNOWMYNETWORK shall establish adequate controls in order to protect the
                    integrity and
                    confidentiality of Personal Information, both in digital and physical format and to prevent Personal
                    Information from being accidentally or deliberately compromised. KNOWMYNETWORK is committed to
                    managing your
                    Personal Information in line with global industry best practices and in compliance with regulatory
                    requirements. We protect your information using physical, technical, and administrative security
                    measures to
                    reduce the risks of loss, misuse, unauthorized access, disclosure, and alteration.</span></p>
            <p class="c1"><span class="c0">Some of the safeguards we use are firewalls and data encryption, physical
                    access
                    controls to our data centres, and information access authorization controls. We have also taken
                    additional
                    measure by ensuring our system complies with industry information security standards.</span></p>
            <p class="c1"><span class="c0">Employees may have access to Personal Information only as is appropriate for
                    the type
                    and scope of the task in question and are forbidden to use Personal Information for their own
                    private or
                    commercial purposes or to disclose them to unauthorized persons, or to make them available in any
                    other
                    way.</span></p>
            <ol class="c4 lst-kix_almsv56rapdu-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">Marketing and sharing Personal Information</span></li>
            </ol>
            <p class="c14"><span class="c0">KNOWMYNETWORK does not sell, trade or rent personal information to anyone.
                    However,
                    to enable us render our services to you on our website, we may share your information with trusted
                    thirdparties, such third parties include financial institutions, payment processors, verification
                    services,
                    sanctions screening and identity verification services as well as any third parties that you have
                    directly
                    authorized to receive your Personal Information. Your Personal Information may be stored in
                    locations
                    outside the direct control of KNOWMYNETWORK, for instance, on servers or databases co-located with
                    hosting
                    providers.</span></p>
            <p class="c1"><span class="c0">We may disclose your Personal Information in compliance with applicable law
                    or a
                    legal obligation to which we are bound.</span></p>
            <p class="c1"><span class="c0">The use of your information by such third party will be subject to their
                    applicable
                    privacy policy, which you should carefully review.</span></p>
            <ol class="c4 lst-kix_1atlwd1tz5yj-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">Grounds for Processing of Personal Information</span></li>
            </ol>
            <p class="c1"><span class="c0">Processing of Personal Information by KNOWMYNETWORK shall be lawful if at
                    least one
                    of the following applies:</span></p>
            <ul class="c4 lst-kix_aq9u7515bjx2-0 start">
                <li class="c9 li-bullet-0"><span class="c0">the Data Subject has given consent to the processing of
                        his/her
                        Personal Information for one or more specific purposes;</span></li>
                <li class="c9 li-bullet-0"><span class="c0">the processing is necessary for the performance of a
                        contract to
                        which the Data Subject is party or in order to take steps at the request of the Data Subject
                        prior to
                        entering into a contract;</span></li>
                <li class="c9 li-bullet-0"><span class="c0">processing is necessary for compliance with a legal
                        obligation to
                        which KNOWMYNETWORK is subject;</span></li>
                <li class="c9 li-bullet-0"><span class="c0">processing is necessary in order to protect the vital
                        interests of
                        the Data Subject or of another natural person; and</span></li>
                <li class="c12 li-bullet-0"><span class="c0">processing is necessary for the performance of a task
                        carried out
                        in the public interest or in exercise of official public mandate vested in KNOWMYNETWORK.</span>
                </li>
            </ul>
            <p class="c1"><span class="c0">For the purpose of this Privacy Policy, consent means any freely given,
                    specific,
                    informed and unambiguous indication of the Data Subject&#39;s wishes by which they, through a
                    statement or a
                    clear affirmative action, signify their agreement to the processing of Personal Information relating
                    to
                    them.</span></p>
            <ol class="c4 lst-kix_huhn71fp1jj9-0 start" start="1">
                <li class="c2 li-bullet-0"><span class="c0">Choices and Rights</span></li>
            </ol>
            <p class="c1"><span class="c0">Individuals who have Personal Information held by KNOWMYNETWORK are entitled
                    to reach
                    out to KNOWMYNETWORK to exercise the following rights:</span></p>
            <ul class="c4 lst-kix_p62yi4ee2jcv-0 start">
                <li class="c9 li-bullet-0"><span class="c0">Right to request for and access their Personal Information
                        collected
                        and stored. Where data is held electronically in a structured form, such as in a Database, the
                        Data
                        Subject has a right to receive that data in a common electronic format;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Right to information on their personal information collected
                        and
                        stored;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Right to objection or request for restriction;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Right to object to automated decision making;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Right to request rectification and modification of Personal
                        Information which KNOWMYNETWORK keeps;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Right to request for deletion of their data;</span></li>
                <li class="c3 li-bullet-0"><span class="c0">Right to request the movement of data from KNOWMYNETWORK to
                        a third
                        party; this is the right to the portability of data; and</span></li>
                <li class="c6 li-bullet-0"><span class="c0">Right to object to, and to request that KNOWMYNETWORK
                        restricts the
                        processing of their informationYour request will be reviewed by KNOWMYNETWORK&rsquo;s Data
                        Protection
                        Officer and carried out except as restricted by law or KNOWMYNETWORK&rsquo;s statutory
                        obligations. You
                        may decline to provide your personal Information when it is requested by KNOWMYNETWORK, however,
                        certain
                        services or all the services may be unavailable to you. You may review your account settings and
                        update
                        your Personal Information directly or by contacting us.</span></li>
            </ul>
            <ol class="c4 lst-kix_136oqlka6fxr-1 start" start="1">
                <li class="c8 li-bullet-0"><span class="c0">The Data that We Retain</span></li>
            </ol>
            <p class="c1"><span class="c0">We will retain your information for as long as your account is active or as
                    needed to
                    provide our services to you, comply with our legal and statutory obligations or verify your
                    information with
                    a financial institution.</span></p>
            <p class="c1"><span class="c0">KNOWMYNETWORK is statutorily obligated to retain the data you provide us with
                    in
                    order to process transactions, ensure settlements, make refunds, identify fraud and in compliance
                    with laws
                    and regulatory guidelines applicable to us, our banking providers and card processors.</span></p>
            <p class="c1"><span class="c0">Therefore, even after closing your KNOWMYNETWORK account, we will retain
                    certain
                    Personal Information and transaction data to comply with these obligations. All Personal Information
                    shall
                    be destroyed by KNOWMYNETWORK where possible. For all Personal Data and records obtained, used and
                    stored by
                    KNOWMYNETWORK, we shall perform periodical reviews of the data retained to confirm the accuracy,
                    purpose,
                    validity and requirement to retain.</span></p>
            <p class="c1"><span class="c0">The length of storage of Personal Information shall, amongst other things, be
                    determined by relevant legislation</span></p>
            <ol class="c4 lst-kix_sqvwoijy1szz-1 start" start="1">
                <li class="c8 li-bullet-0"><span class="c0">Transfer of Personal Information</span></li>
            </ol>
            <p class="c1"><span class="c0">To support our global operations, we may share your information with members
                    of the
                    KNOWMYNETWORK group and other entities outside of your country of residence. We do so for the
                    performance of
                    our contract with you, or based on consent, adequacy decisions for relevant countries, or other
                    transfer
                    mechanisms and appropriate safeguards under applicable law, such as the Standard Contractual Clauses
                    approved by the European Commission. </span></p>
            <p class="c1"><span class="c0">We will take reasonable steps to ensure that any overseas recipient deals
                    with your
                    personal information in a manner consistent with how we deal with it.</span></p>
            <ol class="c4 lst-kix_izwwpsaf3mhd-1 start" start="1">
                <li class="c15 li-bullet-0"><span class="c0">Contact KNOWMYNETWORK</span></li>
            </ol>
            <p class="c1"><span class="c0">If you have any questions relating to this Privacy Policy or would like to
                    find out
                    more about exercising &nbsp; your &nbsp; data &nbsp; &nbsp;protection &nbsp; rights, &nbsp; please
                    &nbsp;
                    reach &nbsp; out &nbsp; to us at developers@iconfluxlimited.com</span></p>
            <p class="c1"><span class="c0">KNOWMYNETWORK maintains a data breach procedure in order to deal with
                    incidents
                    concerning Personal Information or practices leading to the accidental or unlawful destruction,
                    loss,
                    alteration, unauthorized disclosure of, or access to, Personal Information transmitted, stored or
                    otherwise
                    processed.</span></p>
            <p class="c13"><span class="c10"></span></p>
            </p>

    </section>
</main>
  <!-- ======= Footer ======= -->
  <Footer />
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  @* <div id="preloader"></div> *@



</body>

</html>