@page "/privacy-policy"

<!DOCTYPE html>
<html lang="en">

<head>
<title>KnowMyNetwork - Car Pool like never before</title>
</head>

<body>

  <!-- ======= Header ======= -->
  <Navbar />
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-col align-items-center">
    <div class="container d-flex mt-5 flex-column align-items-center">
    <h1>KMN Policies</h1>
    <p class="fs-5 text-center">
    Policies are legal agreement between you and KMN Metropolitan Mobility Company Limited and governs any claims that 
    may be made by any User in relation to the Services.The provisions of these policies govern 
    Your use of the services on KMN’ website, and mobile application , and the relationship between You and KMN.
    </p>
      
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-service" class="privacy-services">
      <div class="container">

        <div class="row gy-4 gap-3 justify-content-stretch  align-content-stretch">

          <div class="shadow rounded col-lg-3 col-md-6  d-flex flex-column privacy-item h-full  gap-3 p-4" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-note-sticky"></i></div>
            <div>
              <h4 class="title">Terms of use</h4>
              <p class="description">The Terms of Use governs the relationship between You and KMN and governs any claims that may be made by You or KMN in relation to the Services.</p>
              <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="shadow rounded col-lg-4 col-md-6  d-flex flex-column privacy-item gap-3 h-full p-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-lock"></i></div>
            <div>
              <h4 class="title">Private Policy</h4>
              <p class="description">Our Privacy Statement describes your privacy rights regarding Our collection, use, storage, sharing and protection of your Personal Data. It applies to Our website, App and all other related applications, services.</p>
              <a href="/privacy-policy/home" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="shadow rounded col-lg-4 col-md-6  d-flex flex-column privacy-item gap-3 h-full p-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-money-bill-wave"></i></div>
            <div>
              <h4 class="title">Refund Policy</h4>
              <p class="description">We acknowledge that sometimes your trip may not go as expected. Where a trip does not go as planned, you may share your feedback by rating the trip or contacting our customer experience team on the app. </p>
              <a href="service-details.html" class="readmore stretched-link fs-6"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="shadow rounded col-lg-4 col-md-6  d-flex flex-column privacy-item gap-3 h-full p-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-user"></i></div>
            <div>
              <h4 class="title">Behaviour Policy</h4>
              <p class="description">We acknowledge that sometimes your trip may not go as expected. Where a trip does not go as planned, you may share your feedback by rating the trip or contacting our customer experience team on the app. </p>
              <a href="service-details.html" class="readmore stretched-link fs-6"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
          <div class="shadow rounded col-lg-4 col-md-6  d-flex flex-column privacy-item gap-3 h-full p-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-book"></i></div>
            <div>
              <h4 class="title">Chater Terms</h4>
              <p class="description">We acknowledge that sometimes your trip may not go as expected. Where a trip does not go as planned, you may share your feedback by rating the trip or contacting our customer experience team on the app. </p>
              <a href="service-details.html" class="readmore stretched-link fs-6"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <Footer />
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  @* <div id="preloader"></div> *@



</body>

</html>