@page "/termsandconditions"


<!DOCTYPE html>
<html lang="en">

<head>
<title>IconFlux - Car Pool like never before</title>
</head>

<body>

  <!-- ======= Header ======= -->
  <Navbar />
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-col align-items-center">
    <div class="container d-flex mt-5 flex-column align-items-center">
    <h1>Terms and Conditions</h1>

      
    </div>
  </section><!-- End Hero Section -->
  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section class="container">
            <p class="fs-5 text-center">
            <p><strong>IconFlux - Terms and Conditions</strong></p>
            <p>&nbsp;</p>
            <p>Welcome to IconFlux, a ride-sharing application that connects drivers and passengers for convenient
                and reliable transportation.</p>
            <p>Before you start using our services, please carefully read and understand the following terms and
                conditions. By accessing or using the IconFlux app, you agree to be bound by these terms and
                conditions. If you do not agree with any part of these terms, you may not use our services.</p>
            <ol>
                <li><strong>Account Registration and User Responsibilities</strong>
                    <ul style="list-style-type: square;">
                        <li>You must be at least 15 years old to register and use the IconFlux app.</li>
                        <li>You are solely responsible for maintaining the confidentiality of your account information
                            and are liable for any activities conducted through your account.</li>
                        <li>You agree to provide accurate and up-to-date information during registration and to update
                            your information promptly in case of any changes.</li>
                    </ul>
                </li>
                <li><strong>&nbsp;Driving Plans and Passenger Plans</strong>
                    <ul style="list-style-type: square;">
                        <li>Users can create and manage driving plans or passenger plans through the IconFlux app.
                        </li>
                        <li>Driving plans are intended for drivers offering transportation services, and passenger plans
                            are intended for users seeking transportation.</li>
                        <li>IconFlux is not responsible for the accuracy or availability of driving plans or
                            passenger plans.</li>
                    </ul>
                </li>
                <li><strong>&nbsp;Search and Matching Services</strong>
                    <ul style="list-style-type: square;">
                        <li>The app provides search and matching services to connect drivers with passengers based on
                            their respective plans.</li>
                        <li>IconFlux does not guarantee the availability of drivers or passengers at any given
                            time.</li>
                    </ul>
                </li>
                <li><strong>&nbsp;Financial Transactions</strong>
                    <ul style="list-style-type: square;">
                        <li>Users have the option to top-up their IconFlux accounts with money to facilitate
                            payment for rides.</li>
                        <li>IconFlux may charge transaction fees for topping up the account or other financial
                            transactions. These fees will be clearly communicated to users before confirming the
                            transactions.</li>
                        <li>Users can also request withdrawals of their available funds from their IconFlux
                            accounts.</li>
                        <li>Withdrawals may be subject to processing fees and are subject to applicable laws and
                            regulations.</li>
                    </ul>
                </li>
                <li><strong>&nbsp;User Conduct</strong>
                    <ul style="list-style-type: square;">
                        <li>Users agree not to use the IconFlux app for any unlawful, harmful, or fraudulent
                            activities.</li>
                        <li>Users shall not harass, harm, or engage in any disruptive behavior towards other users.</li>
                        <li>5.3 Users shall not attempt to access or interfere with the app's systems or other users'
                            accounts.</li>
                    </ul>
                </li>
                <li><strong>Privacy Policy</strong>
                    <ol>
                        <li>IconFlux respects the privacy of its users. Please refer to our Privacy Policy to
                            understand how we collect, use, and protect your personal information.</li>
                    </ol>
                </li>
                <li><strong>Intellectual Property</strong>
                    <ol>
                        <li>All content and materials provided by IconFlux, including the app's design, logos, and
                            trademarks, are protected by copyright and intellectual property laws.</li>
                        <li>Users shall not reproduce, modify, distribute, or use any of the app's content without prior
                            written consent from IconFlux.</li>
                    </ol>
                </li>
                <li><strong>Termination of Services</strong>
                    <ol>
                        <li>IconFlux reserves the right to suspend or terminate a user's account or access to the
                            app at its discretion, without prior notice.</li>
                        <li>Users may also terminate their accounts by contacting customer support.</li>
                    </ol>
                </li>
                <li><strong>Liability Limitations</strong>
                    <ol>
                        <li>IconFlux shall not be liable for any direct, indirect, incidental, or consequential
                            damages arising from the use or inability to use the app or its services.</li>
                        <li>Users understand and accept that IconFlux does not provide transportation services and
                            shall not be responsible for the actions, behavior, or reliability of drivers or passengers.
                        </li>
                    </ol>
                </li>
                <li><strong>Governing Law and Dispute Resolution</strong>
                    <ol>
                        <li>These terms and conditions shall be governed by the laws of the Federal Republic of Nigeria.
                        </li>
                        <li>Any disputes arising from or relating to the use of the app or its services shall be
                            resolved through binding arbitration in accordance with the rules of the Icon Flux Limited,
                            and each party shall bear its respective costs.</li>
                    </ol>
                </li>
                <li>Updates to Terms and Conditions
                    <ol>
                        <li>IconFlux reserves the right to update or modify these terms and conditions at any time.
                        </li>
                        <li>Users will be notified of any changes to the terms and conditions via the app or by email.
                            By using the IconFlux app, you acknowledge that you have read, understood, and agreed
                            to these terms and conditions. If you have any questions or concerns, please contact our
                            customer support for assistance. Thank you for choosing IconFlux!</li>
                    </ol>
                </li>
            </ol>
            </p>
    </section>
  </main>
  <!-- ======= Footer ======= -->
  @* <Footer /> *@
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  @* <div id="preloader"></div> *@



</body>

</html>
