<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sorce-serif">kMn</span>
          </a>
          <p>A fast and efficient on-demand car service.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
          <div class=" d-flex gap-3">
            <a href="#">
              <img src="assets/img/app-store.svg" width="100px" alt="appstore" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.iconflux.knowmynetwork">
              <img src="assets/img/google-play.svg" width="100px" alt="appstore" />
            </a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="/privacy-policy">Privacy policy</a></li>
          </ul>
        </div>

        <!-- <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Car Polling</a></li>
            <li><a href="#">Logistics</a></li>
            <li><a href="#">Fleet Management</a></li>
            <li><a href="#">Marketing</a></li>
          </ul>
        </div> -->

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
           Surulere road, kokoro Abu, Ikorodu, Lagos <br><br>
            <strong>Phone:</strong> +234-9016837387<br>
            <strong>Email:</strong> developers@iconfluxlimited.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright sorce-serif">
        &copy; Copyright <strong><span>KnowMyNetwork</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->

      </div>
    </div>

  </footer><!-- End Footer -->