<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex flex-col align-items-center">
    <div class="container d-flex mt-5 flex-column align-items-center">
        <h1>@Heading</h1>
    </div>
</section><!-- End Hero Section -->

@code{
    [Parameter]
    public string Heading { get; set; }
}