<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sorce-serif">KnowMyNetwork</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list lolade-custom"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/termsandconditions" class="active">Terms and Condition</a></li>
                <li><a href="/privacypolicy" class="active">Privacy Policy</a></li>
                <li><a href="/faq" class="active">FAQ</a></li>
                <li><a href="/how-it-works" class="active">How KMN Works</a></li>
                <li>
                    <a href="https://apps.apple.com/us/app/knowmynetwork/id6445825555" class="active">
                        <i class="fa-brands fa-app-store fs-4"></i>
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.iconflux.knowmynetwork" class="active"><i class="fa-brands fa-google-play fs-4"></i></a>
                </li>
            </ul>
        </nav>
        <!-- .navbar -->
    </div>
</header>
<!-- End Header -->
